<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Queue-Ticket</title>
</head>
<body>
<h1>Welcome</h1>
<p>Supply username and password</p>
Username: <input type="text" name="username" [(ngModel)]="username"><br>
Password: <input type="text" name="password" [(ngModel)]="password"><br>
<button class="btn btn-primary login" (click)="login()">Click me!</button>
<button class="btn btn-primary login" (click)="try()">Click me2!</button>
<h2>{{errorMessage}}</h2>
</body>
</html>
