<app-current-ticket></app-current-ticket>
<h4 *ngIf="ticket">Your ticket: {{ticket.number}}</h4>
<div *ngIf="ticketStatus">
  <h4>Status</h4>
  <h5>Estimated wait time: {{ticketStatus.estimatedWaitTime}}</h5>
  <h5>Customers before: {{ticketStatus.numbersBefore}}</h5>
</div>
<button *ngIf="!ticket" (click)="newTicket()" class="btn btn-info">New ticket</button>
<button *ngIf="ticket" (click)="dropTicket()" class="btn btn-danger">Drop ticket</button>
<button *ngIf="ticket" (click)="getTicketStatus()" class="btn btn-success">Ticket status</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

